<table id="myTable" class="tablesorter-blue">
  <thead>
    <tr>
      <th><span>Role</span></th>
      <th><span>Lines Spoken</span></th>
      <th><span>Longest Speech</span></th>
      <th><span>Number of Scenes</span></th>
      <th><span>Percentage of Scenes</span></th>
    </tr>
  </thead>
  <tbody>
    <% @play.each do |play| %>
      <tr>
        <td><%= play[:role] %></td>
        <td><%= play[:lines] %></td>
        <td><%= play[:longest_speech] %></td>
        <td><%= play[:scenes] %></td>
        <td><%= play[:percent_of_scenes] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pager" class="pager">
  <form>
    <%= image_tag('jquery-tablesorter/addons/pager/icons/first.png', class: 'first') %>
    <%= image_tag('jquery-tablesorter/addons/pager/icons/prev.png', class: 'prev') %>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <%= image_tag('jquery-tablesorter/addons/pager/icons/next.png', class: 'next') %>
    <%= image_tag('jquery-tablesorter/addons/pager/icons/last.png', class: 'last') %>
    <select class="pagesize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>
