<table id="myTable" class="tablesorter-blue">
  <thead>
    <tr>
      <th><span>Role</span></th>
      <th><span>Lines Spoken</span></th>
      <th><span>Longest Speech</span></th>
      <th><span>Number of Scenes</span></th>
      <th><span>Percentage of Scenes</span></th>
    </tr>
  </thead>
  <tbody>
    <% @play.each do |play| %>
      <tr>
        <td><%= play[:role] %></td>
        <td><%= play[:lines] %></td>
        <td><%= play[:longest_speech] %></td>
        <td><%= play[:scenes] %></td>
        <td><%= play[:percent_of_scenes] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
